In [366]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [367]:
data = pd.read_csv('data.csv')
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

In [8]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [6]:
data.describe(include = ['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1890,1890,1890,1890,1890,1890,1890,1890,1890
unique,1890,1888,1879,958,1881,1890,653,1625,1435
top,tt0335563,Fantastic Four,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Steven Soderbergh,Based on a true story.,Firefighters Chuck Ford and Larry Valentine ar...,Comedy,New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

In [9]:
len(data)

1890

# Предобработка датасета

In [10]:
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

In [11]:
data.index

RangeIndex(start=0, stop=1890, step=1)

In [12]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [13]:
data.dtypes

imdb_id                  object
popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
director                 object
tagline                  object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
dtype: object

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [14]:
data.loc[(data['budget'] == data['budget'].max())]

# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
answer_ls

[4]

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [17]:
data.loc[(data['runtime'] == data['runtime'].max())]
answer_ls.append(2)
#answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [19]:
data.loc[(data['runtime'] == data['runtime'].min())]
answer_ls.append(3)
answer_ls

[4, 2, 3]

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [20]:
display(data['runtime'].mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [21]:
display(data['runtime'].median())
answer_ls.append(1)
answer_ls

106.5

[4, 2, 3, 2, 1]

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [28]:
#Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.
data['pribil'] = data['revenue'] - data['budget']
data.loc[data['pribil'] == data['pribil'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,pribil
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [22]:
answer_ls.append(5)
answer_ls

[4, 2, 3, 2, 1, 5]

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [35]:
data.loc[data.pribil == data.pribil.min()] 
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,pribil
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [36]:
data[(data['pribil'] > 0)].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [38]:
data.loc[(data['release_year'] == 2008)].sort_values(by=['pribil'],ascending = [False])
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,pribil
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,1537,5.6,2008,601636033
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,805,6.2,2008,557841637
607,tt0441773,3.036644,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,1938,6.8,2008,501744560
622,tt0448157,1.800286,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,1764,6.0,2008,474029371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,tt0811080,0.879116,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,5/9/2008,194,5.6,2008,-26054234
706,tt0469903,0.450911,40000000,9793496,The Express,Rob Brown|Dennis Quaid|Darrin Henson|Charles S...,Gary Fleder,He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,Drama,Davis Entertainment|Relativity Media|IDEA Film...,10/10/2008,39,7.1,2008,-30206504
683,tt0970411,0.721663,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,Playtone|Walden Media,10/7/2008,358,6.1,2008,-37130952
680,tt0462465,0.749838,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,4/24/2008,167,6.0,2008,-42966317
637,tt0455824,1.468543,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,411,6.3,2008,-80445998

In [39]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4]

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [41]:
data[data.pribil == ((data[(data.release_year >= 2012) & (data.release_year <= 2014)].pribil.min()))]

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,pribil
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [42]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5]

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [44]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [46]:
pd.DataFrame(data[data.pribil>0].genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [68]:
data['director'].value_counts()

Steven Soderbergh                            13
Ridley Scott                                 12
Clint Eastwood                               12
Shawn Levy                                   10
Steven Spielberg                             10
                                             ..
Tom Hanks                                     1
Michael Cuesta                                1
Mark Andrews|Steve Purcell|Brenda Chapman     1
Chris Sivertson                               1
Derrick Borte                                 1
Name: director, Length: 958, dtype: int64

In [47]:
answer_ls.append(1)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [49]:
pd.DataFrame(data[data.pribil>0].director.value_counts())
answer_ls.append(4)

                                director
Ridley Scott                          12
Steven Spielberg                      10
Steven Soderbergh                     10
Clint Eastwood                        10
Shawn Levy                             9
...                                  ...
Mike McCoy|Scott Waugh                 1
Jon Amiel                              1
Jeff Wadlow                            1
Graham Annable|Anthony Stacchi         1
Chris Buck|Jennifer Lee                1

[774 rows x 1 columns]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [95]:
data.groupby('director')['pribil'].sum().sort_values(ascending=[False])

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: pribil, Length: 958, dtype: int64

In [50]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [243]:
display(data[data.cast.str.contains('Emma Watson')].pribil.sum())
display(data[data.cast.str.contains('Johnny Depp')].pribil.sum())
display(data[data.cast.str.contains('Michelle Rodriguez')].pribil.sum())
display(data[data.cast.str.contains('Orlando Bloom')].pribil.sum())
display(data[data.cast.str.contains('Rupert Grint')].pribil.sum())

6666245597

4776417000

4608031235

5148578162

6408638290

In [51]:
answer_ls.append(1)
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 1, 4, 5, 1]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [60]:
df = pd.DataFrame(data.cast.str.split('|').tolist())
df.columns = ['cast_0','cast_1','cast_2','cast_3','cast_4']
df0 = pd.concat([data.pribil,df.cast_0,data.imdb_id,data.popularity,data.budget,data.revenue,data.original_title,
                data.cast,data.director,data.runtime,data.genres,data.production_companies,data.release_date,
                data.release_year,data.vote_count,data.vote_average],axis=1)
df1 = pd.concat([data.pribil,df.cast_1,data.imdb_id,data.popularity,data.budget,data.revenue,data.original_title,
                data.cast,data.director,data.runtime,data.genres,data.production_companies,data.release_date,
                data.release_year,data.vote_count,data.vote_average],axis=1)
df2 = pd.concat([data.pribil,df.cast_2,data.imdb_id,data.popularity,data.budget,data.revenue,data.original_title,
                data.cast,data.director,data.runtime,data.genres,data.production_companies,data.release_date,
                data.release_year,data.vote_count,data.vote_average],axis=1)
df3 = pd.concat([data.pribil,df.cast_3,data.imdb_id,data.popularity,data.budget,data.revenue,data.original_title,
                data.cast,data.director,data.runtime,data.genres,data.production_companies,data.release_date,
                data.release_year,data.vote_count,data.vote_average],axis=1)
df4 = pd.concat([data.pribil,df.cast_4,data.imdb_id,data.popularity,data.budget,data.revenue,data.original_title,
                data.cast,data.director,data.runtime,data.genres,data.production_companies,data.release_date,
                data.release_year,data.vote_count,data.vote_average],axis=1)
df1 = df1.rename(columns={'cast_1':'cast_0'})
df2 = df2.rename(columns={'cast_2':'cast_0'})
df3 = df3.rename(columns={'cast_3':'cast_0'})
df4 = df4.rename(columns={'cast_4':'cast_0'})

final = pd.concat([df0,df1,df2,df3,df4],axis=0)




final.head(5)

,pribil,cast_0,imdb_id,popularity,budget,revenue,original_title,cast,director,runtime,genres,production_companies,release_date,release_year,vote_count,vote_average
0,1363528810,Chris Pratt,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,2015,5562,6.5
1,228436354,Tom Hardy,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,2015,6185,7.1
2,185238201,Shailene Woodley,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2015,2480,6.3
3,1868178225,Harrison Ford,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,2015,5292,7.5
4,1316249360,Vin Diesel,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2015,2947,7.3

In [72]:
final.loc[(final.release_year == 2012)].groupby('cast_0')['pribil'].sum().sort_values(ascending=[True])
answer_ls.append(3)

cast_0
Kirsten Dunst         -68109207
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Malin Ã…kerman        -43733509
                        ...
Robert Downey Jr.    1299557910
Mark Ruffalo         1299557910
Chris Evans          1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Name: pribil, Length: 466, dtype: int64

In [73]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 1, 4, 5, 1, 3]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [96]:
final.loc[(final.budget >final.budget.mean())].groupby('cast_0').count().sort_values(by = ['budget'],ascending=[False])
answer_ls.append(3)

,pribil,imdb_id,popularity,budget,revenue,original_title,cast,director,runtime,genres,production_companies,release_date,release_year,vote_count,vote_average
cast_0,,,,,,,,,,,,,,,
Matt Damon,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Adam Sandler,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Angelina Jolie,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Samuel L. Jackson,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Tom Cruise,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jennifer Hudson,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jennifer Jason Leigh,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jennifer Saunders,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jennifer Tilly,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Ã“lafur Darri Ã“lafsson,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [97]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 1, 4, 5, 1, 3, 3]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [101]:
pd.DataFrame(final[final.cast_0=='Nicolas Cage'].genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(2)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [104]:
pd.DataFrame(final.production_companies.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

Universal Pictures                        865
Warner Bros.                              840
Paramount Pictures                        610
Columbia Pictures                         585
Twentieth Century Fox Film Corporation    545
                                         ...
Temple Hill Productions                     5
Natural Nylon Entertainment                 5
Syndicate Films International               5
Laurinfilm                                  5
Joseph Nittolo Entertainment                5
Length: 1772, dtype: int64

In [105]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 1, 4, 5, 1, 3, 3, 2, 1]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [290]:
pd.DataFrame(final[final.release_year==2015].production_companies.str.split('|').tolist()).stack().value_counts()
#answer_ls.append(4)

Warner Bros.                              60
Universal Pictures                        50
Twentieth Century Fox Film Corporation    40
Paramount Pictures                        35
Columbia Pictures                         35
                                          ..
Mid Atlantic Films                         5
Irish Film Board                           5
Apatow Productions                         5
DMG Entertainment                          5
Blue Sky Studios                           5
Length: 246, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [170]:
answer_l=[]
production_companies_dict = {}
for x in range(len(data)):
    if 'Comedy' in list(data[data.index == x].genres)[0]:
        for y in list(data[data.index == x].production_companies)[0].split('|'):
            production_companies_dict.setdefault(y, 0)
            production_companies_dict[y] += list(data[data.index == x].pribil)[0]

answer_l.append(sorted(production_companies_dict.items(), key=lambda x: x[1], reverse = True)[0][0])
answer_l[-1] #выводим ответ

'Universal Pictures'

In [171]:
answer_ls.append(2)
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 1, 4, 5, 1, 3, 3, 2, 1, 4, 2]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [174]:
answer_l=[]
production_companies_dict = {}
for x in range(len(data)):
    if list(data[data.index == x].release_year)[0]==2012:
        for y in list(data[data.index == x].production_companies)[0].split('|'):
            production_companies_dict.setdefault(y, 0)
            production_companies_dict[y] += list(data[data.index == x].pribil)[0]

answer_l.append(sorted(production_companies_dict.items(), key=lambda x: x[1], reverse = True)[0][0])
answer_l[-1] 
answer_ls.append(3)

'Columbia Pictures'

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [179]:
answer_l=[]
original_title_dict = {}
for x in range(len(data)):
    if 'Paramount Pictures' in list(data[data.index == x].production_companies)[0]:
        original_title_dict.setdefault(list(data[data.index == x].original_title)[0],list(data[data.index == x].pribil)[0])

answer_l.append(sorted(original_title_dict.items(), key=lambda x: x[1])[0][0])
answer_l[-1] 
answer_ls.append(1)

'K-19: The Widowmaker'

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [186]:
data.groupby('release_year')['pribil'].sum().sort_values(ascending=[False])

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: pribil, dtype: int64

In [187]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [189]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['pribil'].sum().sort_values(ascending=[False])

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: pribil, dtype: int64

In [190]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [193]:
answer_l=[]
from datetime import datetime
mounth_list = [
    'январь',
    'февраль',
    'март',
    'апрель',
    'май',
    'июнь',
    'июль',
    'август',
    'сентябрь',
    'октябрь',
    'ноябрь',
    'декабрь'
]

data['mounth'] = data.release_date.apply(lambda x : mounth_list[int(datetime.strptime(x,'%m/%d/%Y').month)-1])
answer_l.append(data.mounth.value_counts().keys()[0])
answer_l[-1] 
answer_ls.append(4)

'сентябрь'

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [200]:
(len(data[data.mounth=='июнь']) + len(data[data.mounth=='июль']) + len(data[data.mounth=='август']))
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [217]:
data.loc[(data.mounth=='декабрь') | (data.mounth=='январь') |(data.mounth=='февраль')].groupby('director')['release_year'].count().sort_values(ascending=[False])
answer_ls.append(5)

director
Peter Jackson                    7
Clint Eastwood                   6
Steven Soderbergh                6
Shawn Levy                       4
Adam Shankman                    4
                                ..
Matt Reeves                      1
Matthew O'Callaghan              1
Matthew Vaughn                   1
McG                              1
Aaron Seltzer|Jason Friedberg    1
Name: release_year, Length: 333, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [222]:
data.groupby('mounth')['pribil'].sum().sort_values(ascending=[False])
answer_ls.append(2)

mounth
июнь        27551262500
декабрь     26563071474
май         25039516141
ноябрь      18654155473
июль        18307895020
март        13720216540
октябрь     12994907859
апрель      12876005537
сентябрь    10878921041
август       9640610446
февраль      8854574425
январь       5396885454
Name: pribil, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [225]:
answer_l=[]
production_companies_dict_count = {}
production_companies_dict = {}

for x in range(len(data)):
    for y in list(data[data.index == x].production_companies)[0].split('|'):
        production_companies_dict.setdefault(y, 0)
        production_companies_dict_count.setdefault(y, 0)
        production_companies_dict[y] += len(list(data[data.index == x].original_title)[0])
        production_companies_dict_count[y] += 1

for x in production_companies_dict_count:
    production_companies_dict[x] = production_companies_dict[x] / production_companies_dict_count[x]
answer_l.append(sorted(production_companies_dict.items(), key=lambda x: x[1], reverse = True)[0][0])
answer_l[-1] 
answer_ls.append(5)

'Four By Two Productions'

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [228]:
answer_l=[]
production_companies_dict_count = {}
production_companies_dict = {}

for x in range(len(data)):
    for y in list(data[data.index == x].production_companies)[0].split('|'):
        production_companies_dict.setdefault(y, 0)
        production_companies_dict_count.setdefault(y, 0)
        production_companies_dict[y] += len(list(data[data.index == x].original_title)[0].split(' '))
        production_companies_dict_count[y] += 1
for x in production_companies_dict_count:
    production_companies_dict[x] = production_companies_dict[x] / production_companies_dict_count[x]
answer_l.append(sorted(production_companies_dict.items(), key=lambda x: x[1], reverse = True)[0][0])
answer_l[-1] 
answer_ls.append(5)

'Four By Two Productions'

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [232]:
answer_l=[]
word_count = {}
for x in range(len(data)):
    for y in list(data[data.index == x].original_title)[0].split(' '):
        word_count.setdefault(y, 0)
        word_count[y] += 1
    
answer_l.append(len(word_count))
answer_l[-1] 
answer_ls.append(3)

2477

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [299]:
data.sort_values(by='vote_average', ascending=False).original_title.head(10)
answer_ls.append(1)

600                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1082    The Lord of the Rings: The Return of the King
873                                       The Pianist
1801                                          Memento
1192                                 12 Years a Slave
128                                         Gone Girl
Name: original_title, dtype: object

In [303]:
print(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 1, 4, 5, 1, 3, 3, 2, 1, 4, 2, 3, 5, 1, 4, 2, 5, 2, 5, 5, 3, 1]

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [306]:
answer_l=[]
cast_dict={} 
for x in range(len(data)):
    union = list(data[data.index == x].cast)[0].split('|')
    if len(union)>1:
        for y in union:
            cast_dict.setdefault(y,[])
            cast_dict[y]+=union
            
cast_union_dict = {} 
for x in cast_dict:
    for y in cast_dict[x]:
        if x!=y:
            cast_union_dict.setdefault(x+' & '+y,0)
            cast_union_dict[x+' & '+y]+=1
cast_union_dict

answer_l.append(sorted(cast_union_dict.items(), key=lambda x: x[1], reverse = True)[0][0])
answer_l[-1] 
answer_ls.append(5)

'Daniel Radcliffe & Rupert Grint'

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [360]:
directors=data['director'].value_counts().to_frame()
directors=directors.reset_index()
directors = directors.rename(columns={'index':'name'})
incomePlusDirectors=data[data.pribil>0]['director'].value_counts().to_frame()
incomePlusDirectors=incomePlusDirectors.reset_index()
incomePlusDirectors=incomePlusDirectors.rename(columns ={'index':'name'})
joined = incomePlusDirectors.merge(directors,on = 'name',how='inner')
joined['ver']=joined['director_x']/joined['director_y']

joined.head(10)
#answer_ls.append(4)

                name  director_x  director_y       ver
0       Ridley Scott          12          12  1.000000
1   Steven Spielberg          10          10  1.000000
2  Steven Soderbergh          10          13  0.769231
3     Clint Eastwood          10          12  0.833333
4         Shawn Levy           9          10  0.900000
5        Michael Bay           8           8  1.000000
6         Tim Burton           8           8  1.000000
7      Peter Jackson           8           8  1.000000
8      Antoine Fuqua           8           8  1.000000
9  Christopher Nolan           8           8  1.000000

In [365]:
len(answer_ls)

36

# Submission

In [368]:
len(answer_ls)

36

In [369]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       1
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4